* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.header {
  height: 15vh;
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  margin: 0.5em;
}

h4 {
  text-align: start;
  word-break: break-word;
  display: inline-block;
  max-width: 90%;
  height: auto;
  background-color: lightgrey;
  margin: 0 0 5px auto;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}
.chatbotH4 {
  margin: 0 auto 5px 2px;
}

.mainContainer {
  width: 70vw;
  max-width: 800px;
  height: 70vh;
  overflow: hidden;
  border: 1px solid black;
  background-color: rgba(149, 177, 228, 0.5);
  margin: auto;
  display: flex;
}

.mainChatWindow {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.msgWindow {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(224, 235, 195);
  width: 90%;
  height: 80%;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

input {
  width: 90%;
  padding: 0.5em;
}
